<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="DemoTradeEntities" connectionString="metadata=res://*/Data.TradeEntityAdo.csdl|res://*/Data.TradeEntityAdo.ssdl|res://*/Data.TradeEntityAdo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=B329-L01\SQLEXPRESS;initial catalog=DemoTrade;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TradeEntities" connectionString="metadata=res://*/Data.TradeEntityADO.csdl|res://*/Data.TradeEntityADO.ssdl|res://*/Data.TradeEntityADO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=B329-L01\SQLEXPRESS;initial catalog=DemoTrade;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DemoTrade" connectionString="metadata=res://*/Data.Trade.csdl|res://*/Data.Trade.ssdl|res://*/Data.Trade.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=B329-L01\SQLEXPRESS;initial catalog=DemoTrade;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DemoTradeEF" connectionString="metadata=res://*/Data.ADOTrade.csdl|res://*/Data.ADOTrade.ssdl|res://*/Data.ADOTrade.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=B329-L01\SQLEXPRESS;initial catalog=DemoTrade;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>